Repository PrefectHQ/ControlFlow, pull requests merged in 2024-10, with the labels that each got.

#343 Improve type hints
  src/controlflow/agents/agent.py
  src/controlflow/flows/flow.py
  src/controlflow/tasks/task.py
Labels: enhancement

#344 Improve task rendering
  src/controlflow/orchestration/prompt_templates/tasks.jinja
Labels: enhancement

#345 Show all data in live even when taller than terminal
  src/controlflow/orchestration/print_handler.py
Labels: bug

#346 Allow parent tasks to optionally wait for subtasks
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/tasks/task.py
Labels: enhancement

#347 Allow model_kwargs to be passed to llm API
  src/controlflow/agents/agent.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/run.py
  src/controlflow/tasks/task.py
Labels: enhancement

#350 Add LLM rules for custom or unrecognized models
  docs/concepts/agents.mdx
  src/controlflow/agents/agent.py
  src/controlflow/llm/rules.py
  tests/agents/test_agents.py
Labels: documentation, enhancement, tests

#351 Add version badge for LLM rules
  docs/concepts/agents.mdx
Labels: documentation, ignore in release notes

#348 Introduce ways to control agentic loop termination
  docs/concepts/tasks.mdx
  docs/examples/features/early-termination.mdx
  docs/examples/features/memory.mdx
  docs/guides/default-memory.mdx
  docs/mint.json
  docs/patterns/memory.mdx
  docs/patterns/running-tasks.mdx
  examples/early_termination.py
  examples/reasoning.py
  src/controlflow/__init__.py
  src/controlflow/agents/agent.py
  src/controlflow/flows/flow.py
  src/controlflow/flows/graph.py
  src/controlflow/llm/rules.py
  src/controlflow/orchestration/__init__.py
  src/controlflow/orchestration/conditions.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/orchestration/prompt_templates/flow.jinja
  src/controlflow/orchestration/prompt_templates/task.jinja
  src/controlflow/orchestration/prompt_templates/tasks.jinja
  src/controlflow/run.py
  src/controlflow/tasks/task.py
  src/controlflow/utilities/testing.py
  tests/agents/test_agents.py
  tests/orchestration/test_orchestrator.py
  tests/tasks/test_tasks.py
  tests/test_run.py
Labels: documentation, feature, tests, example

#354 Make flow context explicit
  docs/concepts/flows.mdx
  src/controlflow/decorators.py
  tests/test_decorator.py
Labels: documentation, enhancement, breaking change, tests

#355 Add compilation flag for removing all system messages
  src/controlflow/events/message_compiler.py
  src/controlflow/llm/rules.py
  tests/test_run.py
Labels: enhancement, tests

#357 add syntax highlighting
  docs/concepts/tasks.mdx
Labels: documentation

#359 Fix broken link and broken code in docs
  docs/concepts/agents.mdx
  docs/welcome.mdx
Labels: documentation

#364 Add async handlers
  docs/patterns/running-tasks.mdx
  pyproject.toml
  src/controlflow/agents/agent.py
  src/controlflow/orchestration/conditions.py
  src/controlflow/orchestration/handler.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/run.py
  src/controlflow/tasks/task.py
  tests/tasks/test_tasks.py
  tests/test_run.py
  uv.lock
Labels: documentation, feature, tests

#360 Update test_history.py
  tests/events/test_history.py
Labels: tests

#363 add slackbot example and update typing + debug logs
  examples/slackbot/Dockerfile
  examples/slackbot/__init__.py
  examples/slackbot/agents.py
  examples/slackbot/custom_types.py
  examples/slackbot/diagram.png
  examples/slackbot/main.py
  examples/slackbot/moderation.py
  examples/slackbot/requirements.txt
  examples/slackbot/settings.py
  examples/slackbot/tools.py
  pyproject.toml
  src/controlflow/agents/agent.py
  src/controlflow/decorators.py
  src/controlflow/events/base.py
  src/controlflow/events/events.py
  src/controlflow/flows/flow.py
  src/controlflow/memory/memory.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/settings.py
  src/controlflow/tasks/task.py
  tests/agents/test_agents.py
  tests/events/test_history.py
Labels: tests, example

#366 fully rm invalid test
  tests/events/test_history.py
Labels: tests

#372 Improve instructions generation for success tool
  src/controlflow/tasks/task.py
  tests/tasks/test_tasks.py
  tests/utilities/test_testing.py
Labels: tests
