Repository PrefectHQ/ControlFlow, pull requests merged in 2024-09, with the labels that each got.

#259 rename user_access → interactive
  README.md
  docs/concepts/agents.mdx
  docs/concepts/tasks.mdx
  docs/examples/agent-engineer.mdx
  docs/examples/rock-paper-scissors.mdx
  docs/guides/agentic-loop.mdx
  docs/guides/why-tasks.mdx
  docs/guides/workflow-apis.mdx
  docs/mint.json
  docs/patterns/instructions.mdx
  docs/patterns/tools.mdx
  docs/patterns/user-input.mdx
  docs/quickstart.mdx
  docs/reference/task-class.mdx
  docs/reference/task-decorator.mdx
  docs/tutorial.mdx
  docs/welcome.mdx
  examples/engineer/engineer.py
  examples/memory_between_flows.py
  examples/poem.py
  examples/restaurant_recs.py
  src/controlflow/agents/agent.py
  src/controlflow/decorators.py
  src/controlflow/orchestration/print_handler.py
  src/controlflow/orchestration/prompt_templates/workflow-old.jinja
  src/controlflow/planning/auto_tasks.py
  src/controlflow/settings.py
  src/controlflow/tasks/task.py
  src/controlflow/tools/input.py
  src/controlflow/tools/talk_to_user.py
  src/controlflow/tui/task.py
  src/controlflow/tui/test.py
  src/controlflow/tui/test2.py
  tests/agents/test_agents.py
  tests/cli/__init__.py
  tests/deprecated/__init__.py
  tests/deprecated/test_agent.py
  tests/deprecated/test_task.py
  tests/flows/test_user_access.py
Labels: enhancement, breaking change

#261 Remove error property and reuse result
  src/controlflow/orchestration/prompt_templates/workflow-old.jinja
  src/controlflow/tasks/task.py
  src/controlflow/tui/task.py
  tests/tasks/test_tasks.py
Labels: enhancement, breaking change

#262 Add support for Annotated result types on tasks
  pyproject.toml
  src/controlflow/tasks/task.py
  tests/agents/test_agents.py
  tests/tasks/test_tasks.py
  tests/test_settings.py
Labels: feature

#264 Add tests to ensure run limits are respected
  src/controlflow/agents/agent.py
  src/controlflow/tasks/task.py
  tests/tasks/test_tasks.py
  tests/test_run.py
Labels: bug

#265 Add most busy turn strategy
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/orchestration/turn_strategies.py
  tests/test_turn_strategies.py
Labels: enhancement

#266 Add support for custom result validators
  src/controlflow/agents/names.py
  src/controlflow/tasks/task.py
  tests/orchestration/test_turn_strategies.py
  tests/tasks/test_tasks.py
Labels: feature

#267 Allow task decorator to return a value that becomes part of the objective
  src/controlflow/decorators.py
  src/controlflow/tasks/task.py
  tests/tasks/test_tasks.py
Labels: enhancement

#268 Update decorator to have proper method for returning a task
  src/controlflow/decorators.py
  tests/tasks/test_decorator.py
  tests/tasks/test_tasks.py
Labels: enhancement

#270 Name is not required for agents; instructions can be provided as a positional arg
  src/controlflow/agents/agent.py
  src/controlflow/agents/names.py
  tests/agents/test_agents.py
  tests/deprecated/test_agent.py
  tests/flows/test_flows.py
  tests/tasks/test_tasks.py
  tests/test_defaults.py
  tests/test_settings.py
Labels: enhancement, breaking change

#271 Improve handling of max turns / max turns per call and enforce task.max_turns
  docs/concepts/tasks/running-tasks.mdx
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/settings.py
  src/controlflow/tasks/task.py
  src/controlflow/utilities/testing.py
  tests/conftest.py
  tests/orchestration/test_orchestrator.py
  tests/tasks/test_tasks.py
  tests/test_run.py
  tests/tools/test_lc_tools.py
Labels: enhancement

#272 Remove unused settings
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/settings.py
  src/controlflow/tasks/task.py
  tests/tasks/test_tasks.py
Labels: breaking change

#273 Update prefect pin for 3.0 🎉
  .github/workflows/run-tests.yml
  .pre-commit-config.yaml
  docs/snippets/installation.mdx
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/controlflow/tasks/task.py
  src/controlflow/utilities/prefect.py
Labels: enhancement

#275 Allow configurable completion agents
  src/controlflow/events/events.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/orchestration/prompt_templates/tasks.jinja
  src/controlflow/orchestration/turn_strategies.py
  src/controlflow/tasks/task.py
  tests/tasks/test_tasks.py
Labels: feature

#276 Fix issue with classifying complex labels
  src/controlflow/tasks/task.py
  tests/tasks/test_tasks.py
Labels: bug

#277 Giant docs update
  docs/concepts.mdx
  docs/concepts/agents.mdx
  docs/concepts/agents/agents.mdx
  docs/concepts/agents/assigning-agents.mdx
  docs/concepts/agents/collaborating-agents.mdx
  docs/concepts/agents/creating-agents.mdx
  docs/concepts/flows.mdx
  docs/concepts/flows/flows.mdx
  docs/concepts/flows/instructions.mdx
  docs/concepts/tasks-concepts.mdx
  docs/concepts/tasks.mdx
  docs/concepts/tasks/creating-tasks.mdx
  docs/concepts/tasks/result-types.mdx
  docs/concepts/tasks/running-tasks.mdx
  docs/concepts/tasks/task-results.mdx
  docs/concepts/tasks/tasks.mdx
  docs/guides/event-log.mdx
  docs/guides/execution-modes.mdx
  docs/guides/why-tasks.mdx
  docs/guides/workflow-apis.mdx
  docs/installation.mdx
  docs/mint.json
  docs/patterns/instructions.mdx
  docs/patterns/result-types.mdx
  docs/patterns/tools.mdx
  docs/patterns/user-input.mdx
  docs/quickstart.mdx
  docs/snippets/installation.mdx
  docs/tutorial.mdx
  docs/welcome.mdx
  src/controlflow/events/events.py
  src/controlflow/orchestration/turn_strategies.py
Labels: documentation

#278 Icons update
  docs/concepts/agents/creating-agents.mdx
  docs/guides/default-agent.mdx
  docs/guides/llms.mdx
  docs/mint.json
  docs/patterns/dependencies.mdx
  docs/patterns/interactivity.mdx
  docs/patterns/subtasks.mdx
  docs/patterns/tools.mdx
  docs/reference/task-class.mdx
Labels: documentation

#279 Add labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
  tests/tasks/test_tasks.py
Labels: ignore in release notes

#280 Add top level `run` fns and support orchestrators with no agent
  .github/labeler.yml
  src/controlflow/__init__.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/orchestration/turn_strategies.py
  src/controlflow/run.py
  src/controlflow/tasks/__init__.py
  src/controlflow/tasks/task.py
  tests/orchestration/test_orchestrator.py
  tests/orchestration/test_turn_strategies.py
  tests/tasks/test_tasks.py
  tests/test_run.py
Labels: feature

#281 Improve debugging options
  pyproject.toml
  src/controlflow/agents/agent.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/settings.py
  src/controlflow/utilities/logging.py
  tests/conftest.py
  tests/test_settings.py
  tests/utilities/test_testing.py
Labels: enhancement, tests

#282 New flow docs; clean up
  docs/concepts/agents/assigning-agents.mdx
  docs/concepts/flows/creating-flows.mdx
  docs/concepts/tasks/result-types.mdx
  docs/concepts/tasks/task-results.mdx
  docs/concepts/tasks/tasks.mdx
  docs/guides/default-agent.mdx
  docs/guides/llms.mdx
  docs/installation.mdx
  docs/mint.json
  docs/patterns/dependencies.mdx
  docs/patterns/interactivity.mdx
  docs/patterns/subtasks.mdx
  docs/patterns/tools.mdx
  docs/quickstart.mdx
Labels: documentation

#286 Reset task parent tracking when nested flows are created
  src/controlflow/flows/flow.py
  src/controlflow/tasks/task.py
  src/controlflow/utilities/context.py
  tests/flows/test_flows.py
  tests/tasks/test_tasks.py
Labels: enhancement

#287 @jlowin Remove infer_parent by improving attribute defaults
  src/controlflow/planning/plan.py
  src/controlflow/settings.py
  src/controlflow/tasks/task.py
Labels: enhancement

#285 Update planning module
  docs/concepts/tasks/running-tasks.mdx
  docs/patterns/planning.mdx
  docs/quickstart.mdx
  src/controlflow/__init__.py
  src/controlflow/agents/agent.py
  src/controlflow/fns/__init__.py
  src/controlflow/fns/plan.py
  src/controlflow/fns/run.py
  src/controlflow/planning/plan.py
  src/controlflow/tasks/task.py
  tests/fns/test_run.py
Labels: documentation, feature

#289 Consolidate concept docs
  docs/concepts/agents.mdx
  docs/concepts/agents/agents.mdx
  docs/concepts/agents/creating-agents.mdx
  docs/concepts/concepts.mdx
  docs/concepts/flows.mdx
  docs/concepts/flows/creating-flows.mdx
  docs/concepts/flows/flows.mdx
  docs/concepts/tasks.mdx
  docs/concepts/tasks/tasks.mdx
  docs/mint.json
  docs/patterns/collaborating-agents.mdx
  docs/patterns/instructions.mdx
  docs/patterns/running-tasks.mdx
  docs/patterns/task-results.mdx
  docs/style_guide.mdx
  src/controlflow/orchestration/prompt_templates/agent.jinja
Labels: documentation

#290 Huge orchestration overhaul
  docs/blog/agentic-loop.mdx
  docs/blog/tasks-and-agents.mdx
  docs/concepts/agents.mdx
  docs/guides/llms.mdx
  docs/guides/orchestration.mdx
  docs/guides/settings.mdx
  docs/mint.json
  docs/patterns/collaborating-agents.mdx
  docs/patterns/planning.mdx
  docs/patterns/running-tasks.mdx
  docs/patterns/stopping-tasks-early.mdx
  src/controlflow/__init__.py
  src/controlflow/fns/__init__.py
  src/controlflow/fns/run.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/orchestration/turn_strategies.py
  src/controlflow/plan.py
  src/controlflow/run.py
  src/controlflow/settings.py
  src/controlflow/tasks/task.py
  tests/conftest.py
  tests/fns/test_run.py
  tests/orchestration/test_orchestrator.py
  tests/orchestration/test_turn_strategies.py
  tests/tasks/test_tasks.py
  tests/test_run.py
  tests/tools/test_lc_tools.py
Labels: documentation, feature, tests

#291 Update dependency docs
  docs/mint.json
  docs/patterns/dependencies.mdx
  docs/patterns/subtasks.mdx
Labels: documentation

#294 Add builtin validators and docs
  docs/patterns/task-results.mdx
  src/controlflow/cli/dev.py
  src/controlflow/tasks/validators.py
  tests/tasks/test_validators.py
Labels: feature

#295 Fix issue with special type aliases
  src/controlflow/tasks/task.py
  tests/tasks/test_tasks.py
Labels: bug

#298 Add history doc
  docs/mint.json
  docs/patterns/history.mdx
Labels: documentation

#299 Add feature examples
  docs/examples/features/dependent-tasks.mdx
  docs/examples/features/private-flows.mdx
  docs/examples/language-tutor.mdx
  docs/mint.json
  src/controlflow/decorators.py
Labels: documentation

#300 Flow updates: prevent args from becoming part of context
  docs/concepts/flows.mdx
  docs/examples/language-tutor.mdx
  docs/guides/default-agent.mdx
  src/controlflow/decorators.py
  src/controlflow/flows/flow.py
  src/controlflow/tasks/task.py
  tests/flows/test_flows.py
  tests/tasks/test_tasks.py
Labels: feature

#301 Update prefect integration
  src/controlflow/agents/agent.py
  src/controlflow/flows/flow.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/tasks/task.py
  tests/utilities/test_testing.py
Labels: enhancement

#302 Add new agentic examples
  docs/examples/agent-engineer.mdx
  docs/examples/call-routing.mdx
  docs/examples/features/tools.mdx
  docs/mint.json
  src/controlflow/agents/agent.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/orchestration/prompt_templates/tasks.jinja
  src/controlflow/orchestration/turn_strategies.py
  src/controlflow/tasks/task.py
  src/controlflow/tools/tools.py
  tests/tasks/test_tasks.py
  tests/tools/test_tools.py
Labels: documentation

#303 Update readme
  README.md
  docs/welcome.mdx
  src/controlflow/cli/dev.py
Labels: documentation

#306 Add example doc: multi-llm workflows
  docs/examples/features/multi-llm.mdx
  docs/mint.json
Labels: documentation

#307 Expose and document handlers
  docs/patterns/running-tasks.mdx
  src/controlflow/agents/agent.py
  src/controlflow/events/orchestrator_events.py
  src/controlflow/orchestration/__init__.py
  src/controlflow/orchestration/handler.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/orchestration/print_handler.py
  src/controlflow/run.py
  src/controlflow/tasks/task.py
  tests/agents/test_agents.py
  tests/tasks/test_tasks.py
  tests/test_run.py
Labels: feature, tests

#308 Support automatic model configuration on agents
  docs/concepts/agents.mdx
  docs/examples/call-routing.mdx
  docs/examples/features/multi-llm.mdx
  docs/examples/headline-categorization.mdx
  docs/examples/named-entity-recognition.mdx
  docs/examples/sentiment-classifier.mdx
  docs/guides/llms.mdx
  docs/patterns/running-tasks.mdx
  docs/quickstart.mdx
  pyproject.toml
  src/controlflow/agents/agent.py
  src/controlflow/defaults.py
  src/controlflow/llm/models.py
  src/controlflow/planning/auto_tasks.py
  tests/agents/test_agents.py
  tests/llm/__init__.py
  tests/llm/test_models.py
Labels: documentation, feature

#309 Improve gemini support
  src/controlflow/tools/tools.py
Labels: enhancement

#310 Update guides
  .gitignore
  docs/llm-guides/examples-guide.md
  docs/llm-guides/llm-guide.md
  docs/llm-guides/style-guide.md
  src/controlflow/cli/dev.py
Labels: ignore in release notes

#312 remove old `typer` extra and update `json` -> `model_dump_json` (LC 0.3+ support)
  pyproject.toml
  src/controlflow/agents/agent.py
  src/controlflow/events/events.py
  src/controlflow/events/message_compiler.py
  src/controlflow/plan.py
  tests/agents/test_agents.py
  tests/tasks/test_tasks.py
  tests/test_run.py
  tests/test_settings.py
  tests/tools/test_lc_tools.py
Labels: enhancement, tests

#321 Support langchain 0.3
  src/controlflow/agents/agent.py
  src/controlflow/defaults.py
  src/controlflow/tools/tools.py
  tests/test_defaults.py
  tests/tools/test_lc_tools.py
Labels: enhancement, tests

#322 Add llm-specific prompt instructions
  src/controlflow/llm/rules.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/orchestration/prompt_templates.py
  src/controlflow/orchestration/prompt_templates/instructions.jinja
  src/controlflow/orchestration/prompt_templates/llm_instructions.jinja
  src/controlflow/orchestration/prompt_templates/tasks.jinja
  src/controlflow/tasks/task.py
Labels: feature

#326 Add agent memories
  README.md
  docs/concepts/agents.mdx
  docs/guides/configure-llms.mdx
  docs/guides/default-agent.mdx
  docs/guides/default-memory.mdx
  docs/installation.mdx
  docs/mint.json
  docs/patterns/memory.mdx
  docs/patterns/running-tasks.mdx
  docs/quickstart.mdx
  pyproject.toml
  src/controlflow/__init__.py
  src/controlflow/agents/__init__.py
  src/controlflow/agents/agent.py
  src/controlflow/agents/memory.py
  src/controlflow/defaults.py
  src/controlflow/events/history.py
  src/controlflow/llm/models.py
  src/controlflow/llm/rules.py
  src/controlflow/memory/__init__.py
  src/controlflow/memory/memory.py
  src/controlflow/memory/providers/__init__.py
  src/controlflow/memory/providers/chroma.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/orchestration/prompt_templates.py
  src/controlflow/orchestration/prompt_templates/memories.jinja
  src/controlflow/settings.py
  src/controlflow/tasks/task.py
  src/controlflow/tools/tools.py
  src/controlflow/utilities/general.py
  tests/conftest.py
  tests/events/test_history.py
  tests/fixtures/controlflow.py
  tests/memory/__init__.py
  tests/memory/test_memory.py
  tests/utilities/test_general.py
Labels: documentation, feature, tests

#327 Change raise_on_error to raise_on_failure
  src/controlflow/run.py
  src/controlflow/tasks/task.py
Labels: breaking change

#328 Bump langchain versions
  pyproject.toml
Labels: enhancement

#329 Add version badges
  docs/guides/default-memory.mdx
  docs/patterns/memory.mdx
  docs/snippets/version-badge.mdx
  docs/style.css
Labels: documentation

#330 Allow completion tools to be customized per-task
  docs/concepts/tasks.mdx
  docs/examples/call-routing.mdx
  pyproject.toml
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/orchestration/turn_strategies.py
  src/controlflow/tasks/task.py
  tests/tasks/test_tasks.py
Labels: enhancement

#331 Add chroma cloud configs
  docs/patterns/memory.mdx
  src/controlflow/memory/memory.py
  src/controlflow/memory/providers/chroma.py
  src/controlflow/settings.py
Labels: enhancement

#332 Add memory example
  docs/examples/features/memory.mdx
  docs/mint.json
  docs/patterns/memory.mdx
  docs/style.css
Labels: documentation

#334 Add LanceDB memory provider
  docs/patterns/memory.mdx
  src/controlflow/memory/memory.py
  src/controlflow/memory/providers/chroma.py
  src/controlflow/memory/providers/lance.py
  src/controlflow/settings.py
Labels: feature

#336 Ensure flow decorator works with async flows
  src/controlflow/decorators.py
  tests/tasks/test_decorator.py
  tests/test_decorator.py
Labels: bug, tests

#337 Support async tasks with task decorator
  src/controlflow/decorators.py
  tests/test_decorator.py
Labels: enhancement, tests

#335 Update all examples
  docs/examples/features/private-flows.mdx
  docs/examples/features/tools.mdx
  docs/examples/library.mdx
  docs/examples/seinfeld-conversation.mdx
  docs/mint.json
  examples/anonymization.py
  examples/business_headline_sentiment.py
  examples/call_routing.py
  examples/choose_a_number.py
  examples/code_explanation.py
  examples/controlflow_docs.py
  examples/engineer/engineer.py
  examples/engineer/instructions.md
  examples/generate_people.py
  examples/headline_categorization.py
  examples/language_tutor.py
  examples/memory.py
  examples/memory_between_flows.py
  examples/named_entity_recognition.py
  examples/pineapple_pizza.py
  examples/poem.py
  examples/private_flows.py
  examples/restaurant_recs.py
  examples/rock_paper_scissors.py
  examples/seinfeld.py
  examples/sentiment_classifier.py
  examples/standardize_addresses.py
  examples/summarization.py
  examples/task_dag.py
  examples/teacher_student.py
  examples/translation.py
  examples/write_and_critique_paper.py
Labels: documentation

#340 Update labeler rules
  .github/labeler.yml
Labels: ignore in release notes

#339 "Added in" → "New in" for docs badge
  docs/snippets/version-badge.mdx
Labels: documentation
