Repository PrefectHQ/ControlFlow, pull requests merged in 2024-11, with the labels that each got.

#374 Update ai-labeler.yml
  .github/workflows/ai-labeler.yml
Labels: documentation, enhancement, ignore in release notes

#376 Remove model typing due to validation error
  src/controlflow/llm/rules.py
Labels: bug, enhancement

#380 Minor doc fixes
  docs/concepts/tasks.mdx
  docs/patterns/running-tasks.mdx
  docs/patterns/task-results.mdx
Labels: documentation

#377 Add test for rules typing
  tests/orchestration/test_rules.py
Labels: tests

#381 Add new event types
  src/controlflow/agents/agent.py
  src/controlflow/events/base.py
  src/controlflow/events/events.py
  src/controlflow/events/history.py
  src/controlflow/events/message_compiler.py
  src/controlflow/events/orchestrator_events.py
  src/controlflow/handlers/__init__.py
  src/controlflow/handlers/callback_handler.py
  src/controlflow/handlers/print_handler.py
  src/controlflow/handlers/queue_handler.py
  src/controlflow/orchestration/handler.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/orchestration/print_handler.py
  src/controlflow/settings.py
  src/controlflow/stream.py
  src/controlflow/tasks/task.py
  src/controlflow/tools/tools.py
  tests/utilities/test_testing.py
Labels: enhancement, feature, tests

#384 Support streaming events
  docs/mint.json
  docs/patterns/running-tasks.mdx
  docs/patterns/streaming-tasks.mdx
  src/controlflow/__init__.py
  src/controlflow/agents/agent.py
  src/controlflow/events/base.py
  src/controlflow/events/events.py
  src/controlflow/events/orchestrator_events.py
  src/controlflow/events/task_events.py
  src/controlflow/flows/flow.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/run.py
  src/controlflow/stream.py
  src/controlflow/tasks/task.py
  tests/test_run.py
Labels: documentation, enhancement, feature, tests

#386 Rename streaming-tasks.mdx → streaming.mdx
  docs/mint.json
  docs/patterns/streaming.mdx
Labels: documentation

#387 simplify result instructions
  src/controlflow/settings.py
  src/controlflow/tasks/task.py
  tests/tasks/test_tasks.py
  tests/test_run.py
  tests/utilities/test_testing.py
Labels: documentation, enhancement, tests

#390 Bump openai version
  pyproject.toml
Labels: bug
