Repository PrefectHQ/ControlFlow, pull requests merged in 2024-07, with the labels that each got.

#210 move defaults out of root
  docs/guides/default-agent.mdx
  docs/guides/llms.mdx
  src/controlflow/__init__.py
  src/controlflow/agents/__init__.py
  src/controlflow/agents/agent.py
  src/controlflow/defaults.py
  src/controlflow/events/history.py
  src/controlflow/flows/flow.py
  src/controlflow/llm/models.py
  src/controlflow/tasks/task.py
  src/controlflow/utilities/testing.py
  tests/agents/test_agents.py
  tests/fixtures/controlflow.py
  tests/tasks/test_tasks.py
  tests/test_defaults.py
  tests/test_settings.py
Labels: breaking change

#214 Change run_once to steps
  docs/concepts/tasks.mdx
  docs/guides/agentic-loop.mdx
  docs/guides/execution-modes.mdx
  docs/patterns/instructions.mdx
  docs/patterns/stopping-tasks-early.mdx
  docs/reference/task-decorator.mdx
  src/controlflow/agents/agent.py
  src/controlflow/flows/flow.py
  src/controlflow/orchestration/controller.py
  src/controlflow/tasks/task.py
  tests/orchestration/test_controller.py
  tests/tasks/test_tasks.py
Labels: breaking change

#216 Create release.yml
  .github/release.yml
Labels: ignore in release notes

#217 Update release.yml
  .github/release.yml
Labels: ignore in release notes

#226 Update prompt customization
  docs/tutorial.mdx
  src/controlflow/agents/agent.py
  src/controlflow/agents/teams.py
  src/controlflow/flows/flow.py
  src/controlflow/orchestration/prompt_templates.py
  src/controlflow/tasks/task.py
  src/controlflow/utilities/testing.py
  tests/agents/test_agents.py
  tests/flows/test_flows.py
  tests/tasks/test_tasks.py
Labels: enhancement

#227 fix tests
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/tui/test.py
  tests/agents/test_agents.py
  tests/flows/test_flows.py
  tests/tasks/test_tasks.py
  tests/test_defaults.py
  tests/utilities/test_testing.py
Labels: bug

#229 Add context tests; fix issue loading upstream task events
  pico.save
  src/controlflow/agents/teams.py
  src/controlflow/events/history.py
  src/controlflow/llm/models.py
  src/controlflow/orchestration/agent_context.py
  src/controlflow/orchestration/orchestrator.py
  tests/agents/test_agents.py
  tests/flows/test_flows.py
  tests/orchestration/test_agent_context.py
  tests/tasks/test_tasks.py
Labels: bug

#230 Ensure LC tools work
  pyproject.toml
  src/controlflow/agents/agent.py
  src/controlflow/orchestration/agent_context.py
  src/controlflow/settings.py
  src/controlflow/tools/tools.py
  tests/test_settings.py
  tests/tools/test_lc_tools.py
Labels: bug

#231 Improve basic round robin
  src/controlflow/agents/__init__.py
  src/controlflow/agents/teams.py
  src/controlflow/orchestration/agent_context.py
  src/controlflow/tasks/task.py
  src/controlflow/tools/orchestration.py
  src/controlflow/tools/tools.py
  tests/agents/test_teams.py
  tests/utilities/test_testing.py
Labels: enhancement

#232 Add stable ID for task/agent/team
  src/controlflow/agents/agent.py
  src/controlflow/flows/graph.py
  src/controlflow/tasks/task.py
  src/controlflow/utilities/testing.py
  src/controlflow/utilities/types.py
  tests/agents/test_agents.py
  tests/agents/test_teams.py
  tests/orchestration/test_agent_context.py
  tests/tasks/test_tasks.py
  tests/utilities/test_testing.py
Labels: enhancement

#233 Add configurable history visibility
  src/controlflow/__init__.py
  src/controlflow/agents/agent.py
  src/controlflow/agents/teams.py
  src/controlflow/decorators.py
  src/controlflow/defaults.py
  src/controlflow/events/base.py
  src/controlflow/events/history.py
  src/controlflow/flows/flow.py
  src/controlflow/orchestration/agent_context.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/settings.py
  tests/orchestration/test_agent_context.py
Labels: feature

#234 Add async run and deprecate run_once
  src/controlflow/agents/agent.py
  src/controlflow/agents/memory.py
  src/controlflow/defaults.py
  src/controlflow/events/base.py
  src/controlflow/events/history.py
  src/controlflow/flows/flow.py
  src/controlflow/llm/rules.py
  src/controlflow/orchestration/agent_context.py
  src/controlflow/orchestration/orchestrator.py
  src/controlflow/orchestration/prompt_templates.py
  src/controlflow/planning/auto_tasks.py
  src/controlflow/planning/plan.py
  src/controlflow/tasks/task.py
  src/controlflow/tools/tools.py
  src/controlflow/utilities/general.py
  src/controlflow/utilities/logging.py
  src/controlflow/utilities/prefect.py
  tests/tasks/test_deprecated.py
  tests/tasks/test_tasks.py
Labels: enhancement

#235 Add history tests
  tests/events/__init__.py
  tests/events/test_history.py
  tests/flows/test_flows.py
Labels: tests

#225 Add example of using a LangChain tool and fetching data, summarizing, and doing NER and sentiment analysis
  docs/patterns/tools.mdx
  examples/business_headline_sentiment.py
Labels: documentation

#242 Remove .agents property
  src/controlflow/agents/agent.py
  src/controlflow/agents/teams.py
  src/controlflow/defaults.py
  src/controlflow/events/events.py
  src/controlflow/orchestration/agent_context.py
  src/controlflow/orchestration/prompt_templates.py
  src/controlflow/orchestration/prompt_templates/agent.jinja
  src/controlflow/orchestration/prompt_templates/agent.md.jinja
  src/controlflow/orchestration/prompt_templates/flow.jinja
  src/controlflow/orchestration/prompt_templates/flow.md.jinja
  src/controlflow/orchestration/prompt_templates/instructions.jinja
  src/controlflow/orchestration/prompt_templates/task.jinja
  src/controlflow/orchestration/prompt_templates/tasks.jinja
  src/controlflow/orchestration/prompt_templates/team.jinja
  src/controlflow/orchestration/prompt_templates/team.md.jinja
  src/controlflow/orchestration/prompt_templates/tools.jinja
  src/controlflow/orchestration/prompt_templates/workflow-old.jinja
  src/controlflow/settings.py
  src/controlflow/tasks/task.py
  src/controlflow/tools/orchestration.py
  src/controlflow/tools/tools.py
  tests/agents/test_teams.py
  tests/fixtures/controlflow.py
  tests/tasks/test_tasks.py
  tests/test_settings.py
Labels: enhancement, breaking change

#243 Don't create team of one agent
  src/controlflow/tasks/task.py
Labels: enhancement
